<table class="table">
	<thead>
		<tr>
			<th scope="col">Code</th>
			<th scope="col">Name</th>
			<th scope="col">Email</th>
			<th scope="col">Specialite</th>
      <th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let emp of employees">
			<th scope="row">{{ emp.code }}</th>
			<td>{{ emp.nom }} </td>
			<td>{{ emp.email }} </td>
			<td>{{ emp.specialite }} </td>
      <!-- add delete btn -->
      <td>
        <button class="btn btn-danger btn-sm m-1" (click)="deleteEmployee(emp._id!)">Delete</button>
        <button class="btn btn-warning btn-sm m-1" (click)="updateEmployee(emp._id!)">Edit</button>
      </td>
		</tr>
	</tbody>
</table>
